[submodule "submodule/glfw"]
	path = Engine/Deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodule/glm"]
	path = Engine/Deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/Deps/glslang"]
	path = Engine/Deps/glslang
	url = https://github.com/KhronosGroup/glslang.git
